/* ======================================================
  MISTYLAND — BookingWidgetFront
  FINAL CONSOLIDATED CSS
  Все оригинальные стили + локальные ассеты
====================================================== */


/* ======================================================
  1. BASE ORIGINAL STYLES (ОБЯЗАТЕЛЬНО ПЕРВЫМИ)
====================================================== */


/* ======================================================
  2. FONT — INTER VARIABLE (локально)

====================================================== */

@font-face {
font-family: 'InterDisplay';
src: url('./InterDisplay-Medium.woff2') format('woff2');
font-weight: 500 900; /* ключевой момент */
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'InterDisplayReg';
src: url('./InterDisplay-Regular.woff2') format('woff2');
font-weight: 100 400; /* ключевой момент */
font-style: normal;
font-display: swap;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video  {
      font-family: 'InterDisplayReg', Arial, sans-serif;
  letter-spacing: 0.01em;
}

body {
  color: #4B463B;
}


/* ======================================================
  SEARCH WIDGET
====================================================== */

.b-start__field-label {
    font-size: 1em;
  font-family: 'InterDisplayReg', Arial, sans-serif;
  letter-spacing: 0.03em;
  color: #4B463B;
}

.s-btn,
.b-result-item__view-more-btn {
  background: transparent !important;
  box-shadow: none !important;

  display: inline;
  min-height: auto;
  padding: 0;

  font-family: 'InterDisplay', Arial, sans-serif;
  font-size: 1.3em;
  font-weight: 500;
  letter-spacing: 0.01em;
  text-transform: none;
  color: #4B463B;

  border: none;
  cursor: pointer;
  white-space: nowrap;
}
.s-btn s-btn--primary {
  font-size: 2.2em;
}


.s-btn::after,
.b-result-item__view-more-btn::after {
  content: "↗";
  display: inline-block;
  margin-left: 0.25em;
  font-size: 1em;
}

.s-btn:hover,
.b-result-item__view-more-btn:hover {
  opacity: 0.6;
}

.b-start {
    background: transparent;
    box-shadow: none;
}

.icon-calendar {
    background-image: url("./calendar.png");
   background-size: contain;      /* или 100% 100% */
  background-position: center;
  background-repeat: no-repeat;
    width: 20px;
    height: 20px;
   
}

.b-select-ghost {
    border: none;
  background-color: #F7F1DF;
}

.b-input-spinner input {
  background-color: #FFFEFB;
}
.select2-container--default .select2-selection--single {
    background-color: #FFFEFB;
}

.b-select-ghost-content {
  font-family: 'InterDisplayReg', Arial, sans-serif;
  letter-spacing: 0.03em;
  font-size: 1em;
  color: #4B463B;
}

.icon-drop, .select2-container .select2-selection .select2-selection__arrow:after, .b-select-ghost:after, .b-simple-drop:after, .b-combobox__trigger:after {
    background-image: url("./icon-drop.svg");
}

.s-btn--addroom {
  padding-top: 0.5em;
   font-size: 1em;
  padding-bottom: 1em;
}
.s-btn--ready {
 padding-top: 0.5em;
  margin-top: 0em;
  padding-bottom: 1em;
}

.l-popup-container {
  background-color: #F7F1DF;
}
/* 
.b-roomitem__field--btn {
  padding-top: 0.5em;
} */

.icon-plus, .icon-plus-span {
    background-image: url(./icon-plus.svg);
      background-size: contain;
    background-position: center;
}

.icon-minus {
    background-image: url(./icon-minus.svg);
}

.icon-close2 {
    background-image: url(./icon-close2.svg);
}

.icon-guest {
    background-image: url(./guest.png);
     background-size: contain;
    background-position: center;
}

 .select2-container .select2-results__option--highlighted.select2-results__option--selectable {
        background-color: #F9E284;
        color: #4B463B;
    }

/* ======================================================
 DATEPICKER

====================================================== */

.ui-datepicker, .ui-datepicker .ui-widget-header, .ui-widget-content {
  background-color: #F7F1DF;
  color: #4B463B;
}
.ui-state-hover {
  background: #FF895C !important;
}


/* ======================================================
  ROOMS
====================================================== */

.l-main-container {
  background-color: #F7F1DF; 
}
.b-mob-top-bar__inner {
  background-color: #F7F1DF;
}
.b-result-item {
   background-color: #F7F1DF;
}
.b-result-item__services {
   background-color: #F7F1DF;
}
.l-filters {
  background-color: #CABCA1;
}
.b-filter {
 background-color: #F7F1DF;
}
.b-result-item__services-item {
  filter: brightness(.5);
}
.icon-ruler, .icon-user, .icon-adult, .icon-child, .icon-hamburger, .icon-key, .icon-reception-small, .b-cart__item-option-num:before {
  filter: brightness(.5);
}

.b-result-item__services-item-tooltip {
    background-color: #ffffff3d;
}
.price-variants .variant:hover {
    background-color: #F9E284;
}

.price.grid-cell span:last-child {
  margin-left: -0.5em;
}

.b-mob-bottom-bar {
 background-color: #F9E284;
}
.b-mob-bottom-bar .s-btn { 
  color: #4B463B;
}

.b-filter__title {
  font-size: 1.5em; 
   font-family: 'InterDisplay', Arial, sans-serif;
  letter-spacing: 0.01em;
}

.b-result-item__name {
    font-size: 2em;
     font-family: 'InterDisplay', Arial, sans-serif;
  letter-spacing: 0.01em;
 opacity: 0.8;
}

.b-result-item__title b-result-item__title-48423 {
  background-color: #F7F1DF;
}

/* ======================================================
 ORDER SCREEN
====================================================== */

.state-mob-panel-cart {
  background-color: #F7F1DF;
}
.l-panel2 {
  background-color: #F7F1DF;
}

.b-price-item__title {
  font-size: 1.5em; 
   font-family: 'InterDisplay', Arial, sans-serif;
  letter-spacing: 0.01em;
}
.b-price-item__title::before {
  font-size: 1.5em; 
  color: #4B463B;
}

.upsale-summary .price {
  font-family: 'InterDisplay', Arial, sans-serif !important;
  letter-spacing: 0.01em;
}

.upsale-summary {
    padding-right: 26px !important;
    padding-left: 250px !important;
  margin-right: 0px !important;
    margin-left: 0px !important;
}

@media (max-width: 1128px) {
    .upsale-summary {
        padding-left: 10px !important; /* вместо margin-left */
    }
}

.b-drop__trigger {
    font-family: 'InterDisplay', Arial, sans-serif;
    color: #4B463B;
    font-size: 1em;
    text-transform: none;
    background: #F9E284;
}

.step-icon {
  opacity: 0.9;
}
.b-cart__content {
  background-color: #F9E284 !important; 
  color: #4B463B;
}

.b-cart__title {
   font-size: 1.5em; 
   font-family: 'InterDisplay', Arial, sans-serif;
  letter-spacing: 0.01em;
}

.l-panel2__title-icon { 
   background-color: #F9E284;
}

/* ======================================================
  4. ICONS & IMAGES (локальные файлы)
====================================================== */

.s-btn s-btn--primary button-book {
  background: transparent !important;
  box-shadow: none !important;

  display: inline;
  min-height: auto;
  padding: 0;

  font-family: 'InterDisplay', Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 0.01em;
  text-transform: none;
  color: #F9E284;

  border: none;
  cursor: pointer;
  white-space: nowrap;
}

.s-btn s-btn--primary button-book::after {
  content: "↗";
  display: inline-block;
  margin-left: 0.25em;
  font-size: 1em;
}

.s-btn s-btn--primary button-book:hover {
  opacity: 0.6;
}


/* ======================================================
  END
====================================================== */
