/* ======================================================
  MISTYLAND — BookingWidgetFront
  FINAL CONSOLIDATED CSS
  Все оригинальные стили + локальные ассеты
====================================================== */


/* ======================================================
  1. BASE ORIGINAL STYLES (ОБЯЗАТЕЛЬНО ПЕРВЫМИ)
====================================================== */



/* ======================================================
  2. FONT — INTER VARIABLE (локально)
====================================================== */

@font-face {
font-family: 'InterDisplay';
src: url('./InterDisplay-Medium.woff2') format('woff2');
font-weight: 500 900; /* ключевой момент */
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'InterDisplayReg';
src: url('./InterDisplay-Regular.woff2') format('woff2');
font-weight: 100 400; /* ключевой момент */
font-style: normal;
font-display: swap;
}


/* ======================================================
  SEARCH WIDGET
====================================================== */
   
.s-btn, .b-result-item__view-more-btn {
background-color: transparent;
font-family: 'InterDisplay', Arial, sans-serif;
cursor: pointer;
border-color: transparent;
border-style: solid;
border-width: thin;
white-space: nowrap;
min-height: 16px;
padding-left: 0px;
padding-right: 13px;
padding-top: 0px;
padding-bottom: 0px;
text-transform: none;
font-size: 1.3em;
letter-spacing: 0.01em;
text-align: center;
flex: 0 0 auto;
}
.s-btn, .b-result-item__view-more-btn::after {
content: "↗";
font-size: 1em;
margin-left: 0.25em;
}

.s-btn, .b-result-item__view-more-btn:hover {
border-color: transparent;
opacity:0.6;
}

.b-start {
    background: transparent;
    box-shadow: none;
}



/* ======================================================
 DATEPICKER
====================================================== */

/* ======================================================
  ROOMS
====================================================== */

/* ======================================================
 ORDER SCREEN
====================================================== */

/* ======================================================
  4. ICONS & IMAGES (локальные файлы)
====================================================== */



/* ======================================================
  END
====================================================== */
