/* jssor slider thumbnail navigator skin 01 css */
            /*
            .jssort01 .p            (normal)
            .jssort01 .p:hover      (normal mouseover)
            .jssort01 .p.pav        (active)
            .jssort01 .p.pdn        (mousedown)
            */

            .jssort01 {
                position: absolute;
                /* size of thumbnail navigator container */
                width: 240px;
                height: 100px;
                top:165px;
            }

                .jssort01 .p {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 82px;
                    height: 58px;
                } 
                               

                .jssort01 .t {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: none;
                }
                
                .jssort01 .t img {
                    width: 76px;
                    height: 58px;
                }  

                .jssort01 .w {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                }

                .jssort01 .c {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 68px;
                    height: 68px;
                    border: #000 2px solid;
                    box-sizing: content-box;
                    background: url(../img/t01.png) -800px -800px no-repeat;
                    _background: none;
                }

                .jssort01 .pav .c {
                    top: 2px;
                    _top: 0px;
                    left: 2px;
                    _left: 0px;
                    width: 68px;
                    height: 68px;
                    border: #000 0px solid;
                    _border: #fff 2px solid;
                    background-position: 50% 50%;
                }

                .jssort01 .p:hover .c {
                    top: 0px;
                    left: 0px;
                    width: 70px;
                    height: 70px;
                    border: #fff 1px solid;
                    background-position: 50% 50%;
                }

                .jssort01 .p.pdn .c {
                    background-position: 50% 50%;
                    width: 68px;
                    height: 68px;
                    border: #000 2px solid;
                }

                * html .jssort01 .c, * html .jssort01 .pdn .c, * html .jssort01 .pav .c {
                    /* ie quirks mode adjust */
                    width /**/: 72px;
                    height /**/: 72px;
                }
                
                /* jssor slider thumbnail navigator skin 12 css */
                
.slider_container 
{
    position: relative; 
    top: 0px; 
    left: 0px; 
    width: 240px; 
    height: 180px;
}

.slides 
{
    cursor: move; 
    position: absolute; 
    overflow: hidden; 
    left: 0px; 
    top: 0px; 
    width: 240px; 
    height: 180px;
}

/* jssor slider arrow Navigator Skin 04 css */
            /*
            .jssora04l                  (normal)
            .jssora04r                  (normal)
            .jssora04l:hover            (normal mouseover)
            .jssora04r:hover            (normal mouseover)
            .jssora04l.jssora04ldn      (mousedown)
            .jssora04r.jssora04rdn      (mousedown)
            */
            .jssora04l, .jssora04r {
                display: block;
                position: absolute;
                /* size of arrow element */
                width: 28px;
                height: 40px;
                cursor: pointer;
                background: url(../img/a04.png) no-repeat;
                overflow: hidden;
            }
            .jssora04l { background-position: -16px -39px; }
            .jssora04r { background-position: -76px -39px; }
            .jssora04l:hover { background-position: -136px -39px; }
            .jssora04r:hover { background-position: -196px -39px; }
            .jssora04l.jssora04ldn { background-position: -256px -39px; }
            .jssora04r.jssora04rdn { background-position: -316px -39px; }
            


.jssora01l
{
  background: url(../img/arrowLeft.png) no-repeat;
}

.jssora01l, .jssora01r 
{
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  overflow: hidden;
}